
.btn-1{
    padding:2px 5px 2px 5px;
    border-radius: 4px;
    box-shadow: black;
    font-size: 30px;
    margin-left: 20px;
}

.icon-button {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dee2e6;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.icon-button:hover {
  background-color: #f8f9fa;
}

.icon-button .badge {
  font-size: 0.6rem;
  padding: 4px 6px;
}

.stat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e9ecef;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  min-width: 180px;
  padding: 5px 10px;
  font-weight: 500;
}

.stat-card .label {
  color: #000;
}
.btn-2{
  background-color: #e9ecef;
  color: red;
}

.stat-card .value {
  background-color: #d32f2f; /* Red */
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  min-width: 45px;
  text-align: center;
}

.ms{
   margin-left: -10px;
}
